.creative-head-slider-main .swiper-pagination-bullet {
    background: rgba(0, 0, 0, 0.2) !important;
    position: relative;
    height: 40px !important;;
    width: 40px !important;;
}

.creative-head-slider-main .swiper-button-next{
    top: 0 !important;
    z-index: 2 !important;
    position: absolute !important;
    background: none !important;
    width: 80px !important;
    height: 100% !important;
}